

   
    
 <div class="slider-item overlay" data-stellar-background-ratio="0.5"
    style="">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-9 text-center col-sm-12 element-animate">
          <h1 class="mb-4">Nous sommes une Agence Digitale</h1>
          <div class="btn-play-wrap mx-auto">
            <p class="mb-4"><a href="https://www.tekinnovative.com" data-fancybox data-ratio="2"
                class="btn-play"><span class="ion ion-ios-play"></span></a></p>
          </div>
          <span>Regarder la vidéo</span>

        </div>
      </div>
    </div>
  </div>
  


    



    <div id="wrapper">
        


        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            

                            <div class="blog-list clearfix">
                                <% @articles.each  do |article| %>
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <%= link_to do %>
                                            
                                                <%= image_tag article.image, disposition: "attachment", alt:"", class:"img-fluid"  %>
                                                <div class="hovereffect"></div>
                                          
                                            <% end %>
                                        </div>
                                    </div>

                                    <div class="blog-meta big-meta col-md-8">
                                        <%= link_to article_path(article) do %> <h4 style="color: #e01616;"  ><%= article.title %></h4>
                                        <p style="color: #0d416f; !important"><%=truncate(article.description, :length => 200, :separator => ' ',:escape=>false) %></p>
                                        <small class="firstsmall bg-orange"><%= article.category %></small>
                                        <small><%= article.updated_at.to_date %></small>
                                        <small><%= article.author %></a></small>
                                        <small><i class="fa fa-eye"></i> <%= article.views %></a></small>
                                        <% end %>
                                    </div>
                                </div>

                                <hr class="invis">
                                <% end %>
                                  

                                <hr class="invis">
                                
                             

                                                                   </div><!-- end blog-box -->

                                <hr class="invis">

                             
                        </div><!-- end page-wrapper -->

                        
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                       <%= render 'articles/sidebar' %>
                    </div>
                </div>
            </div>
        </section>

   

       
        
    </div><!-- end wrapper -->
	

    
