 <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><%= link_to"Accueil", root_path %></li>
                                    <li class="breadcrumb-item"><%= link_to "Blog", articles_path %></li>
                                    <li class="breadcrumb-item active"><%= @article.title %></li>
                                </ol>


                                <h3><%= @article.title %></h3>

                                <div class="blog-meta big-meta">
                                    <small class="firstsmall bg-orange"><%= @article.category %></small>
                                        <small><%= @article.author %></small>
                                        <small><i class="fa fa-eye"></i> <%= @article.views %></small>
                                </div>

                                
                            </div>

                            

                            <div class="blog-content">  
                                <div class="pp">
									<%= @article.body.html_safe %>
								</div>

                              

                               
                            </div>

                           

                            

                           

                           

                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                       <%= render 'articles/sidebar' %>
                    </div><
                   
                </div>
            </div>
        </section>