 <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><%= link_to"Accueil", root_path %></li>
                                    <li class="breadcrumb-item"><%= link_to "Blog", articles_path %></li>
                                    <li class="breadcrumb-item active"><%= @article.title %></li>
                                </ol>


                                <h3><%= @article.title %></h3>

                                <div class="blog-meta big-meta">
                                    <small class="firstsmall bg-orange"><%= @article.category %></small>
                                        <small><%= @article.author %></small>
                                        <small><i class="fa fa-eye"></i> <%= @article.views %></small>
                                </div>

                                
                            </div>

                            

                            <div class="blog-content">  
                                <div class="pp">
									<%= @article.body.html_safe %>
								</div>

                              

                               
                            </div><

                           

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="invis1">

                            <div class="custombox prevnextpost clearfix">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <div class="list-group">
                                                <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between text-right">
                                                        <%= image_tag "tech_menu_19.jpg", alt:"", class:"img-fluid float-right" %>
                                                        <%= link_to if @article.previous  do %>
                                                        <h5 class="mb-1"><%= link_to (@article.previous.title) if @article.previous %></h5>
                                                        <small>< Article précédent</small>
                                                        <% end %>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="blog-list-widget">
                                            <div class="list-group">
                                                <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between">
                                                        <%= image_tag "tech_menu_19.jpg", alt:"", class:"img-fluid float-left" %>
                                                       
                                                        <h5 class="mb-1"> <%= link_to (@article.next.title) if @article.next %></h5>
                                                        <small>Article suivant ></small>
                                                        
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            
                        </div>
                    </div>

                   
                </div>
            </div>
        </section>