 <div class="slider-item overlay" data-stellar-background-ratio="0.5"
    style="">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-9 text-center col-sm-12 element-animate">
          <h1 class="mb-4">Nous sommes une Agence Digitale</h1>
          <div class="btn-play-wrap mx-auto">
            <p class="mb-4"><a href="https://www.tekinnovative.com" data-fancybox data-ratio="2"
                class="btn-play"><span class="ion ion-ios-play"></span></a></p>
          </div>
          <span>Regarder la vidéo</span>

        </div>
      </div>
    </div>
  </div>
  

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto mb-5">
          <span  id="qui-nous-sommes"class="d-block text-uppercase text-secondary">Qui nous sommes</span>
          <span class="divider my-4"></span>
          <h2 class="mb-4 section-title">Nous sommes une  <strong>Agence Digitale</strong> qui concrétise vos idées.</h2>
          <p>Notre agence est composée  d’une équipe de passionnés, et spécialistes du developpement et de la communication digitale.</p>
          <p class="mb-5">Profitez d’une approche et d’un suivi personnalisé pour chaque client pour une meilleure prestation.
..</p>
        </div>
        <div class="col-lg-6">
          <figure class="img-dotted-bg">
            <%= image_tag "digitale.jpg", alt:"Image", class:"img-fluid" %>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="section portfolio-section">
    <div class="container">
    <div  id="portfolio"  class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="mb-4 section-title">Portfolio</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="http://www.prestparty.com" class="work-thumb">
            <div class="work-text">
              <h2>PrestParty, agence évènementielle</h2>
              <p>Developpement web et création graphique</p>
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="la.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="chicago.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="ny.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

            <%= image_tag "prestpart-agence evenementielle.PNG", alt:"Prestparty, agence évènementielle", class:"img-fluid" %>
          </a>
          <a href="https://www.facebook.com/Grossesseprecieuse/" class="work-thumb">
            <div class="work-text">
              <h2>Ma Sage-Femme Consulting</h2>
              <p>Création graphique</p>
            </div>
            <%= image_tag "ma-sage-femme-consulting.png", alt:"Ma Sage-femme Consulting", class:"img-fluid" %>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="https://produitsbioconsommerbio.com/" class="work-thumb">
            <div class="work-text">
              <h2>Produits Bio, Consommer Bio</h2>
              <p>Developpement web et marketing digital</p>
            </div>
            <%= image_tag "produits-bio-consommer-bio.PNG", alt:"Produits bio, consommer bio", class:"img-fluid" %>
          </a>
          <a href="https://www.facebook.com/ProduitsBioConsommerBio/" class="work-thumb">
            <div class="work-text">
              <h2>Everem</h2>
              <p>Creation graphique et marketing digital</p>
            </div>
            <%= image_tag "everem.png", alt:"Image", class:"img-fluid" %>
          </a>
        </div>
      </div>
      
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto mb-3">
          <span id="nos-services"class="d-block text-uppercase text-secondary">Nos services</span>
          <span class="divider my-4"></span>
          <h2 class="mb-4 section-title">Profitez de nos différents <strong>Services</strong> </h2>
          <p>Spécialisés en transformation numérique, nous  vous conseillons et  vous accompagnons  dans la réalisation de votre plein potentiel.</p>
          <p class="mb-5">Profitez d'une expérience réussie dans le domaine du digital et des nouvelles technologies.</p>
          
        </div>
        <div class="col-lg-6">
          <div class="row mt-5">
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span id="developpement-web-mobile" class="icon icon-shield mb-4 d-block"></span>
                <h3>Developpement web et mobile</h3>
                <p>Nous développons des sites web, applications web et mobiles qui seront le reflet de votre offre. Des plateformes responsives 
              liés à vos réseaux sociaux et avec un temps de chargement record !.</p>
              </div>
            </div>
            

            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span id="marketing-digital" class="icon icon-screen-smartphone mb-4 d-block"></span>
                <h3>Marketing Digital</h3>
                <p>Nous  accompagnons votre stratégie numérique pour définir, 
                développer, optimiser ou nettoyer votre image digitale sur le web, les réseaux sociaux, les médias, les discussions… Veille stratégique, référencement, e-réputation, communication digitale….</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span id="creation-graphique"class="icon icon-rocket mb-4 d-block"></span>
                <h3>Création graphique</h3>
                <p>Nous vous accompagnons dans la définition et la réalisation de l’identité visuelle  PRINT et WEB de votre entreprise. Nous réalisons vos univers graphiques originaux, modernes et créatifs( 
                <i>Dépliant – Brochure – Affichage – Mailing – Annonce presse – Habillage de stand, ….</i></p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="service">
                <span id="animation-3D-motion-design"class="icon icon-screen-desktop mb-4 d-block"></span>
                <h3>Animation 3D et motion design</h3>
                <p>Nous réalisons des films adaptés à votre demande et à votre budget : spot publicitaire, film d’entreprise, jingle 3D, vidéo de formation. 
                Imaginons ensemble un univers graphique graphique sur mesure pour présenter votre concept ou vos produits. 
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  </div>

  <div class="bg-primary py-5">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div  id="contact"class="col-lg-7">
          <h3 class="text-white mb-4 font-weight-normal">Vous avez un projet web?</h3>
          <p class="text-white mb-5">Nous vous aidons à le réaliser</p>
            
          <p class="mb-0"><a href="http://www.tekinnovative.com/#contact" class="btn btn-outline-white px-4 py-3">Envoyez nous un message</a></p>
        </div>
      </div>

    </div>
  </div>

  

 

  

 