<!DOCTYPE html>
<html>
  <head>
    <title>Tekinnovative, votre agence digitale</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  
    
    
  </head>

  <body>
    <header role="banner">
    <nav class="navbar navbar-expand-lg  bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="http://www.tekinnovative.com"><%= image_tag "logo.jpg", alt:"Tekinnovative", style:"
    width: 40%;
    border-radius: 40px;
    padding: 20px;
" %></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
          aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

   
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav pl-md-5 ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="http://www.tekinnovative.com">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#qui-nous-sommes">A propos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#nos-services" id="dropdown04" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="#developpement-web-mobile">Developpement web et mobile</a>
                <a class="dropdown-item" href="#marketing-digital">Marketing digital</a>
                <a class="dropdown-item" href="#creation-graphique">Création graphique</a>
                <a class="dropdown-item" href="#animation-3D-motion-design">Animation 3D et motion design</a>

              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>

         
        </div>
      </div>
    </nav>
  </header>
    <%= yield %>
     <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="mb-4">A propos de Tekinnov@tive</h3>
          <p class="mb-5"><strong>Tekinnov@tive</strong> est une entreprise spécialisée dans la conception et le développement de sites web, 
          d'applications web et mobiles, référencement web, marketing digital et design.!</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-5 mb-5 pl-md-5">
          <div class="mb-5">
            <h3 class="mb-4">Contact</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">Douala, Makepe Monde Uni</span>
              </li>
              <li class="d-block">
                <span class="d-block">Telephone:</span><span class="text-white">+237 697 000 657</span>
              </li>
              <li class="d-block">
                <span class="d-block">Email:</span><span class="text-white">support@tekinnovative.com</span>
              </li>
            </ul>
          </div>

          
        </div>
        <div class="col-md-3 mb-5">
          <h3 class="mb-4">Liens rapides</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="http://www.tekinnovative.com/#qui-sommes-nous">A propos</a></li>
            <li><a href="http://www.tekinnovative.com/#contact">Contact</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
          </ul>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Tous droits réservés. | Developpé par 
            <a href="http://tekinnovative.com"  target="_blank">Tekinnovative</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag 'jquery-3.2.1.min' %>
  <%= javascript_include_tag 'jquery-migrate-3.0.1.min' %>
  <%= javascript_include_tag 'popper.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'owl.carousel.min' %>
  <%= javascript_include_tag 'jquery.waypoints.min' %>
  <%= javascript_include_tag 'jquery.fancybox.min' %>
  <%= javascript_include_tag 'jquery.stellar.min' %>
  <%= javascript_include_tag 'main' %>


  </body>
</html>
