<!DOCTYPE html>
<html>
  <head>
    <title>Tekinnovative, votre agence digitale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  
    
    
  </head>

  <body>
    <%= yield %>
  <%= javascript_include_tag 'jquery-3.2.1.min' %>
  <%= javascript_include_tag 'jquery-migrate-3.0.1.min' %>
  <%= javascript_include_tag 'popper.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'owl.carousel.min' %>
  <%= javascript_include_tag 'jquery.waypoints.min' %>
  <%= javascript_include_tag 'jquery.fancybox.min' %>
  <%= javascript_include_tag 'jquery.stellar.min' %>
  <%= javascript_include_tag 'main' %>


  </body>
</html>
